*.dcx
notes.md
*.zip
*.log
prompts/
fex_cache/
fex_cache_filtered/

*/WitchyBND
*.dll
temp/
real_dlc/
package-*/
data/
.venv/
bk_*/
__pycache__/
mod/
*.fmg
tools/
bhd/
tae/
!PARAM/tae_behavior_map/tae/
!PARAM/tae_behavior_map/tae/**
